name: App docker-compose test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24.0.5-dind
        privileged: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and run with docker compose
        run: |
          docker compose up --build -d
          sleep 20
          curl -f http://localhost:8080/tasks || (docker compose logs && exit 1)
          docker compose down
